#include <os2.h>

ICON       1 PRELOAD w95k_std.ico
RESOURCE 100 1 LOADONCALL FIXED dat\dll.dat 
RESOURCE 100 2 LOADONCALL FIXED dat\switchto.dat 
RESOURCE 100 3 LOADONCALL FIXED dat\WindowList.dat
RESOURCE 100 4 LOADONCALL FIXED dat\DesktopMenu.dat  
RESOURCE 100 5 LOADONCALL FIXED dat\ContextMenu.dat 
RESOURCE 100 6 LOADONCALL FIXED dat\WarpcenterMenu.dat 
RESOURCE 100 7 LOADONCALL FIXED dat\OpenObject.dat 
RESOURCE 100 8 LOADONCALL FIXED dat\Volume.dat 
